@tailwind base;
@tailwind components;
@tailwind utilities;


.raleway-my {
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-my {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .open-sans-my {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

